.background {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	z-index: -100;
}

.backgroundTile {
	background: red;
	height: calc(100vh/32);
	width: calc(100%/64);
	float: left;
 	-webkit-transition: background 5s;
  transition: background 5s;
}

.backgroundTile:hover {
	background: pink;
	 -webkit-transition: background .075s;
  transition: background .075s;
}